<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>

<div class="p-5 m-5 bg-light rounded-3" >
  <div class="container-fluid">
    <div >
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active " >
              <img class="w-100 opacity-50 carousel-image" src="../../Assets/images/joji.JPG" alt="Homepage image">
              <div class="carousel-caption ">
                  <div class="container">
                      <div class="row justify-content-center">
                            <div class="col-lg-9 text-center">
                                <h1 class="display-2 text-dark mb-4">Hire Talents for your functions</h1>
                                <a href="/product" class="btn btn-light rounded-5 py-3 px-5">Explore Talents</a>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
            <img class="w-100 opacity-50 carousel-image" src="../../Assets/images/baseball.JPG" alt="Homepage image">
            <div class="carousel-caption ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 text-center">
                            <h1 class="display-2 text-dark mb-4">Hire Talents for your functions</h1>
                            <a href="/product" class="btn btn-light rounded-5 py-3 px-5">Explore Talents</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>  
    </div>
    <!-- Geniuses of the week -->
    <div class="container-fluid product py-5 my-5">
      <div class="container py-5">
          <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <p class="fs-5 fw-medium fst-italic text-primary"></p>
              <h1 class="display-6">Geniuses of the week!</h1>
          </div>
          <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
              <a href="/product" class="d-block product-item rounded">
                  <img src="../../Assets/images/cr7.JPG" alt="">
                  <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                      <h4 class="text-primary">Cristiano Ronaldo</h4>
                      <span class="text-body">Highest annual earnings for an athlete in 2023</span>
                  </div>
              </a>
              <a href="/product" class="d-block product-item rounded">
                  <img src="../../Assets/images/alanwalker.JPG" alt="">
                  <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                      <h4 class="text-primary">Alan Walker</h4>
                      <span class="text-body">RAP! RAP! RAP!</span>
                  </div>
              </a>
              <a href="/product" class="d-block product-item rounded">
                  <img src="../../Assets/images/elonmusk.JPG" alt="">
                  <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                      <h4 class="text-primary">Elon Musk</h4>
                      <span class="text-body">Chat on twitter</span>
                  </div>
              </a>
              <a href="/product" class="d-block product-item rounded">
                  <img src="../../Assets/images/wallyfunk.JPG" alt="">
                  <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                      <h4 class="text-primary">Wally Funk</h4>
                      <span class="text-body">Tourist Guide in the Space</span>
                  </div>
              </a>
          </div>
      </div>
    </div>
  <!-- Products End -->
  </div>

</div>



<%- include('partials/bottom_nav');  %>

<%- include('partials/footer');  %>